.photo{
    width: 150px;
    border-radius: 15px;
}
.card{
    width: 500px;
    background: rgb(255, 200, 250);
    padding: 20px;
    display: flex;
    border-bottom: 10px solid rgb(150, 0, 165);
    justify-content: space-around;
}
.info{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
}